<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Store</title>
    <link rel="stylesheet" href="sass/main.css" />
    <script src="https://kit.fontawesome.com/56b56de47f.js" crossorigin="anonymous"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/serch.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Satisfy&display=swap"
        rel="stylesheet" />
</head>


<body>
    <%- include("partials/navbar") %>
        <header>
            <!-- Slideshow container -->
            <div class="slide-show">
                <div class="slideshow-container">

                    <!-- Full-width images with number and caption text -->
                    <div class="slide fade">
                        <div class="numbertext">1 / 3</div>
                        <img src="../public/img/slideshow/img1.jpg">
                        <div class="text">Caption Text</div>
                    </div>

                    <div class="slide fade">
                        <div class="numbertext">2 / 3</div>
                        <img src="../public/img/slideshow/img2.jpg">
                        <div class="text">Caption Two</div>
                    </div>

                    <div class="slide fade">
                        <div class="numbertext">3 / 3</div>
                        <img src="../public/img/slideshow/img3.jpg">
                        <div class="text">Caption Three</div>
                    </div>

                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>

                <div class="dots-container">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
            </div>

        </header>
        <section class="products newproducts wrapper" id="newproducts">
            <h2>New Products</h2>

            <div class="products-container">
                <% shuffleArray(products).forEach(function(product, index) { %>
                    <% if (index < 6) { %>
                        <form id="productForm<%= index %>" class="product-box" action="http://localhost:5500/product"
                            method="POST" onclick="submitForm(event,'<%= index %>')">
                            <input type="hidden" name="product" value="<%= JSON.stringify(product) %>">

                            <input type="submit" value="Wyślij" style="display: none;">
                            <div class="product-img">
                                <img src="<%= " /img/" + product.photoPath %>" alt="">
                            </div>
                            <div class="product-info">
                                <h4 class="product-name">
                                    <%= product.name %>
                                </h4>
                                <div class="product-rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <button class="add-product"><i class="fa-solid fa-cart-shopping"></i></button>
                                <p class="product-price">
                                    <%= product.price %> $
                                </p>
                            </div>
                        </form>
                        <% } %>
                            <% }) %>
            </div>

        </section>

        <%- include("partials/newsletter") %>

            <section id="contactus" class="wrapper">

            </section>

            <script src="../public/scripts/slideshow.js"></script>
</body>

</html>