<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Store</title>
    <link rel="stylesheet" href="sass/main.css" />
    <script src="https://kit.fontawesome.com/56b56de47f.js" crossorigin="anonymous"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/serch.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Satisfy&display=swap"
        rel="stylesheet" />
</head>


<body>
    <%- include("partials/navbar") %>
        <header>
            <!-- Slideshow container -->
            <div class="slide-show">
                <div class="slideshow-container">
                    <!-- Full-width images with number and caption text -->
                    <div class="slide fade">
                        <div class="slide1 slide-frame fade">
                            <div class="slide-text1">
                                <h2>New iPhone</h2>
                                <p>the Perfect Blend of Style and Functionality!</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide fade">
                        <div class="slide2 slide-frame fade">
                            <div class="slide-text2">
                                <h2>Explore the Color Variety of the iPhone</h2>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide fade">
                        <div class="slide3 slide-frame fade">
                            <div class="slide-text3">
                                <h2>High-Quality Headphones</h2>
                                <p>Choose your favourite</p>
                            </div>
                        </div>
                    </div>
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <!-- <div class="dots-container">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div> -->
            </div>

        </header>
        <section class="benefits wrapper">
            <div class="benefits-box">
                <div class="benefit">
                    <div class="icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="benefit-text">
                        <h3>FREE DELIVERY FROM 100$</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum.</p>
                    </div>
                </div>
                <div class="benefit">
                    <div class="icon"><i class="fa-solid fa-wallet"></i></div>
                    <div class="benefit-text">
                        <h3>MONEY BACK GUARANTEED</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit.</p>
                    </div>
                </div>
                <div class="benefit">
                    <div class="icon"><i class="fa-solid fa-lock"></i></div>
                    <div class="benefit-text">
                        <h3>SECURE PAYMENT</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. .</p>
                    </div>
                </div>
                <div class="benefit">
                    <div class="icon"><i class="fa-solid fa-check-double"></i></div>
                    <div class="benefit-text">
                        <h3>AUTHENTICITY</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="products newproducts wrapper" id="newproducts">
                <h2>Witaj <%= userSession.name %> !</h2>
            <h2>New Products</h2>

            <div class="products-container">
                <% shuffleArray(products).forEach(function(product, index) { %>
                    <% if (index < 8) { %>
                        <form id="productForm<%= index %>" class="product-box" action="/product"
                            method="POST" onclick="submitForm(event,'<%= index %>')">
                            <input type="hidden" name="product" value="<%= JSON.stringify(product) %>">

                            <input type="submit" value="Wyślij" style="display: none;">
                            <div class="product-img">
                                <img src="<%= " /img/" + product.photoPath %>" alt="">
                            </div>
                            <div class="product-info">
                                <h4 class="product-name">
                                    <%= product.name %>
                                </h4>
                                <div class="product-rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <button class="add-product"><i class="fa-solid fa-cart-shopping"></i></button>
                                <p class="product-price">
                                    <%= product.price %> $
                                </p>
                            </div>
                        </form>
                        <% } %>
                            <% }) %>
            </div>

        </section>

        <%- include("partials/newsletter") %>

        <%- include("partials/footer") %>

            <script src="/scripts/slideshow.js"></script>
</body>

</html>