<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Online Store</title>
	<link rel="stylesheet" href="./sass/main.css" />
	<script src="https://kit.fontawesome.com/56b56de47f.js" crossorigin="anonymous"></script>
	<script src="scripts/script.js"></script>
	<script src="scripts/serch.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Satisfy&display=swap"
		rel="stylesheet" />
</head>

<body>
	<%- include("partials/navbar") %>
		<section class="product">
			<div class="productbox wrapper">
				<div class="productbox-presentation box">
					<div class="presentation">
						<div class="presentation">
							<div class="presentation-img" style="background-image: url('<%= " /img/" + product.photoPath
								%>')"></div>
						</div>
					</div>
				</div>
				<div class="media-right">
					<div class="productbox-total box">
						<h3 class="box-heading">
							<%= product.name %>
						</h3>
						<div class="total">
							<div class="total-info">
								<b>
									<p>Cena</p>
								</b>
							</div>
							<div class="total-info left">
								<b>
									<p class="left">
										<%= product.price %> $
									</p>
								</b>
							</div>
						</div>
						<form  action="/cart" method="POST">
							<input type="hidden" name="product" value="<%=JSON.stringify(product) %>">
							<button class="add-btn button" type="submit">add</button>
						</form>
						
					</div>
					<div class="productbox-description box">
						<h3 class="box-heading">Opis</h3>
						<p class="description-date">
							<%= product.description %>
						</p>
					</div>
				</div>
			</div>
		</section>
</body>

</html>