<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Online Store</title>
	<link rel="stylesheet" href="sass/main.css" />
	<script src="https://kit.fontawesome.com/56b56de47f.js" crossorigin="anonymous"></script>
	<script src="scripts/script.js"></script>
	<script src="scripts/serch.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Satisfy&display=swap"
		rel="stylesheet" />
</head>


<body>
	<%- include("partials/navbar") %>
		<section class="products" id="products">
			<div class="categories-container">
				<%
					// createUniqueCategoriesArray to moja funkcja wyeksportowana z app.js
					let uniqueCategories = createUniqueCategoriesArray(products); 
					uniqueCategories = uniqueCategories.sort();
				%>
				<span class="category categoryAll" onclick="changeOnAll('<%= products.length %>')">All</span>
				<% for (var i = 0; i < uniqueCategories.length; i++) { %>
					<span id="category<%= i %>" class="category" onclick="changeCategory('<%=uniqueCategories[i]%>','<%= products.length %>','<%= i %>')"><%= uniqueCategories[i] %></span>
				<% } %>
			</div>
			<div class="products-container">
				<%products.sort(function(a, b) {
					var nameA = a.name.toUpperCase();
					var nameB = b.name.toUpperCase();
					if (nameA < nameB) {
					  return -1;
					}
					if (nameA > nameB) {
					  return 1;
					}
					return 0;
				  }); %>
				<% products.forEach(function(product, index) { %>
					<% if (index < products.length) { %>
						<form id="productForm<%= index %>" class="product-box <%= product.category %>" action="/product"
							method="POST" onclick="submitForm(event,'<%= index %>')" >
							<input type="hidden" name="product" value="<%= JSON.stringify(product) %>">
							<input type="submit" value="Wyślij" style="display: none;">
							<div class="product-img">
								<img src="<%= " /img/" + product.photoPath %>" alt="">
							</div>
							<div class="product-info">
								<h4 class="product-name">
									<%= product.name %>
								</h4>
								<div class="product-rating">
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
									<i class="fa-solid fa-star"></i>
								</div>
								<button class="add-product"><i class="fa-solid fa-cart-shopping"></i></button>
								<p class="product-price">
									<%= product.price %> $
								</p>
							</div>
						</form>
						<% } %>
					<% }) %>
			</div>
		</section>

		<%- include("partials/newsletter") %>
</body>

</html>