<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Online Store</title>
		<link rel="stylesheet" href="./sass/main.css" />
		<script
			src="https://kit.fontawesome.com/56b56de47f.js"
			crossorigin="anonymous"></script>
		<script src="scripts/script.js"></script>
    	<script src="scripts/serch.js"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Satisfy&display=swap"
			rel="stylesheet" />
	</head>

	<body>
		<nav class="nav">
			<a href="http://localhost:5500/">
				<h1 class="logo">OnlineStore</h1>
			</a>
			<!-- <div class="nav-container nav-burger">
				<button class="burger-icon"><i class="fas fa-bars"></i></button>
			</div> -->
			<div class="nav-container">
				<div class="nav-links">
					<a href="#categories">Categories</a>
					<a href="products">All Products</a>
					<a href="#contactus">Contact Us</a>
				</div>
				<div class="nav-icons">
					<a href="form"><i class="fa-sharp fa-solid fa-user"></i></a>
					<a href="basket"><i class="fa-solid fa-basket-shopping"></i></a>
					<i class="fa-solid fa-magnifying-glass magnifier" onclick="toggleInput()"></i>
					<!-- <a href="favourite"></a> -->
				</div>
				<input type="text" class="input-serch" id="input-serch" onkeyup="search()" placeholder="Wyszukaj...">
				<button class="burger-icon" id="burger-icon" onclick="burgerMenuShow()"><i class="fas fa-bars"></i></button>
				<div class="bookmarks-container" id="bookmarks-container">
					<!-- <i class="fa-solid fa-magnifying-glass magnifier"
		
						onclick="toggleInput()"></i> -->
					<!-- co z wyszukiwarka? -->
					<a href="#categories" class="bookmarks">Categories</a>
					<a href="products" class="bookmarks">All Products</a>
					<a href="basket" class="bookmarks">Basket</a>
					<a href="#contactus" class="bookmarks">Contact Us</a>
					<a href="form" class="bookmarks">Sign in</a>
		
		
				</div>
		
		
			</div>
			<div id="results-container"><div id="search-results"></div></div>
		</nav>
		<section class="product">
			<div class="productbox wrapper">
				<div class="productbox-presentation box">
					<div class="presentation">
						<div class="presentation-img" style="background-image: url('<%= "/img/" + product.photoPath %>');"></div>
					</div>
				</div>
				<div class="media-right">
					<div class="productbox-total box">
						<h3 class="box-heading"><%= product.name %></h3>
						<div class="total">
							<div class="total-info">
								<p>ilosc w magazynie</p>
								<p>ilosc sztuk do koszyka</p>
								<b><p>Cena</p></b>
							</div>
							<div class="total-info left">
								<p class="left"><%= product.quantity %></p>
								<select class="left selekcik">
									<% for (let i = 1; i <= product.quantity; i++) { %>
										<option value="<%= i %>"><%= i %></option>
									<% } %>
								</select>
								<b><p class="left"><%= product.price  %> $</p></b>
							</div>
						</div>
						<button class="add-btn button">add</button>
					</div>
					<div class="productbox-description box">
						<h3 class="box-heading">Opis</h3>
						<p class="description-date"><%= product.description %></p>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<p>
				&copy; 2023 | OnlineStore
				<span class="icon-box">
					<a href=""><i class="fa-brands fa-square-facebook"></i></a>
					<a href=""><i class="fa-brands fa-instagram"></i></a>
					<a href=""><i class="fa-brands fa-twitter"></i></a>
				</span>
			</p>
		</footer>
	</body>
</html>
